@page "/transactions/details"
@using Microsoft.EntityFrameworkCore
@using dotNetWedEve
@inject IDbContextFactory<dotNetWedEveContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Transaction</h2>
    <hr />
    @if (transaction is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@transaction.Name</dd>
            <dt class="col-sm-2">Amount</dt>
            <dd class="col-sm-10">@transaction.Amount.ToString("C")</dd>
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@transaction.Type</dd>
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@transaction.Date</dd>
            <dt class="col-sm-2">Category</dt>
            <dd class="col-sm-10"><a href="@($"categories/details?id={transaction.Category.Id}")">@transaction.Category?.Name</a></dd>
            <dt class="col-sm-2">Notes</dt>
            <dd class="col-sm-10">@transaction.Notes</dd>
        </dl>
        <div>
            <a href="@($"/transactions/edit?id={transaction.Id}")">Edit</a> |
            <a href="@($"/transactions")">Back to List</a>
        </div>
    }
</div>

@code {
    private Transaction? transaction;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        transaction = await context.Transaction
            .Include(t => t.Category)
            .FirstOrDefaultAsync(m => m.Id == Id);

        if (transaction is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
