@page "/transactions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using dotNetWedEve
@implements IAsyncDisposable
@inject IDbContextFactory<dotNetWedEveContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="transactions/create">Create New</a>
</p>

<input type="search" @bind="searchText" @bind:event="oninput" placeholder="Search..." class="form-control"/>

<QuickGrid Class="table" Items="@FilteredItems.Include(t => t.Category)" Pagination="@pagination">
    <PropertyColumn Title="Date" Property="@(transaction => transaction.Date)" Sortable="true" IsDefaultSortColumn="true" Format=""/>
    <TemplateColumn Title="Name" Sortable="true">
        <a href="@($"transactions/details?id={context.Id}")">@context.Name</a>
    </TemplateColumn>
    <TemplateColumn Title="Category" Sortable="true">
        <a href="@($"categories/details?id={context.Category.Id}")">@context.Category.Name</a>
    </TemplateColumn>
    <PropertyColumn Property="@(transaction => transaction.Amount)" Sortable="true" />
    
    <TemplateColumn Title="Delete" Context="transaction">
        <a href="@($"transactions/delete?id={transaction.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<div class="page-size-chooser">
    Items per page:
    <select @bind="@pagination.ItemsPerPage">
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>50</option>
    </select>
</div>

<Paginator State="@pagination" />

@code {
    private dotNetWedEveContext context = default!;
    private string searchText = string.Empty;
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    private IQueryable<Transaction> FilteredItems => 
        string.IsNullOrWhiteSpace(searchText) 
            ? context.Transaction 
            : context.Transaction.Where(m => m.Name.Contains(searchText));


    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
